@media (max-width: 1399px) {
    .sidepanel {
        display: none;
    }
}



@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .promo {
        padding-bottom: 326px;
    }
    .bio {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 360px 1fr;
            column-gap: 50px;
        }
    }
    .resume {
        padding-top: 100px;
        &__subtitle {
            margin-top: 11px;
        }
        &__wrapper {
            margin-top: 55px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 120px;
        }
    }
    .skills {
        padding-top: 100px;
        &__subtitle {
            margin-top: 11px;
        }
        &__wrapper {
            margin-top: 50px;
            grid-template-columns: repeat(3, 270px);
            gap: 15px;
        }
        &__ratings {
            margin-top: 100px;
            column-gap: 40px;
            row-gap: 35px;
        }
    }
}



@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 48px;
        }
    }
    .promo {
        padding-bottom: 293px;
    }
    .bio {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 320px 1fr;
            column-gap: 25px;
        }
        &__skills {
            margin-top: 20px;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }
    .resume {
        padding-top: 80px;
        &__subtitle {
            margin-top: 16px;
        }
        &__wrapper {
            margin-top: 50px;
            column-gap: 50px;
        }
        &__education, &__experience {
            &:before {
                transform: translateX(60%);
            }
        }
        &__item {
            &-header {
                &:before {
                    left: -12%;
                }
            }
        }
    }
    .skills {
        padding-top: 80px;
        &__subtitle {
            margin-top: 16px;
        }
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: repeat(2, 270px);
            gap: 17px;
        }
        &__ratings {
            margin-top: 80px;
            column-gap: 35px;
            row-gap: 40px;
        }
    }
}



@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 36px;
            line-height: 48px;
        }
    }
    .promo {
        padding-bottom: 264px;
        &__title {
            width: 410px;
        }
    }
    .bio {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 570px auto;
            row-gap: 46px;
        }
        &__skills {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 15px;
        }
    }
    .resume {
        padding-top: 60px;
        &__subtitle {
            margin-top: 21px;
        }
        &__divider {
            margin-top: 20px;
        }
        &__wrapper {
            margin-top: 45px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 40px;
        }
        &__education, &__experience {
            &:before {
                transform: translateX(-310%);
            }
        }
        &__item {
            &-header {
                &:before {
                    left: -7%;
                }
            }
        }
    }
    .skills {
        padding-top: 60px;
        &__subtitle {
            margin-top: 21px;
        }
        &__divider {
            margin-top: 20px;
        }
        &__wrapper {
            margin-top: 30px;
            gap: 10px;
        }
        &__ratings {
            margin-top: 60px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 30px;
            row-gap: 45px;
        }
    }
}



@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
        &_fz48 {
            font-size: 26px;
            line-height: 40px;
        }
    }
    .promo {
        padding-bottom: 247px;
        &__title {
            width: 290px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding: 140px 20px;
        }
    }
    .bio {
        padding-top: 40px;
        &__wrapper {
            grid-template-rows: 340px auto;
        }
        &__subtitle {
            margin-top: 26px;
        }
        &__divider {
            margin-top: 15px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding-top: 46px;
        &__subtitle {
            margin-top: 26px;
        }
        &__divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: minmax(290px, 320px);
        }
        &__education, &__experience {
            &:before {
                transform: translateX(200%);
            }
        }
        &__item {
            &-header {
                &:before {
                    width: 35px;
                    left: -33px;
                    z-index: -5;
                }
            }
        }
    }
    .skills {
        padding-top: 46px;
        &__subtitle {
            margin-top: 26px;
        }
        &__divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: 270px;
        }
        &__ratings {
            margin-top: 48px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            row-gap: 48px;
        }
    }
}